:root {
    --all-title: #212121;
    --btn-color:#FFFFFF;
    --btn-background:#2196F3;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
}
img {
    display: block;
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-style: normal;
    color: #757575;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 94px;
}
.link, .header-first {
    text-decoration: none;
}
/* Хедер */
.header {
    border-bottom: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-top: 24px;
    margin-bottom: 25px;
}
.header-list, .description-list, .about-list, .team-list, .example-search, .example-list, .footer-list {
    list-style-type: none;
}
.header-list,
.description-list,
.about-list,
.team-list,
.example-search,
.example-list {
    display: flex;
}
.header-first, .footer-logo-first {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.header-second {
    color: #212121;
}
.header-list {
    margin-left: 93px;
}
.header-item {
    margin-right: 50px;
}
.header-connect {
    margin-left: auto;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;  
}
.header-link.current {
    color: var(--btn-background);
}
.header-link:hover, 
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: #2196F3;
}
.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-tel {
    margin-left: 50px;
}
.hero {
    background: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--btn-background);   
}
.description-item:nth-child(-n + 3) {
    margin-right: 30px;
}
.description-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--all-title);
    margin-bottom: 10px;
}
.description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    max-width: 270px;
    height: 75px;
}
.about-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--all-title);
}
.about-title {
    margin-bottom: 50px;
}
.about-list {
    margin-left: -30px;
}
.about-foto {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}
/* Блок команда */
.team {

    background: #F5F4FA;
}
.team-title {
    padding-top: 93px;
    margin-bottom: 50px;
}
.team-people {
    background-color: #FFFFFF;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}
.team-description {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--all-title);
    margin-bottom: 10px;
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list {
    padding-bottom: 94px;
    margin-left: -30px;
}
/* Portfolio */

.example-search {
    justify-content: center;
    margin-bottom: 50px;
}
.example-btn {
    margin-right: 8px;
}
.example-list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.example-galery {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    
}
.example-title-text {
    padding: 20px 24px;
    
}
.example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--all-title);
    margin-bottom: 4px;
}
.example-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    font-family: inherit;
}
.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
}
.btn .hero-btn {
    color: var(--all-title);
    background-color:var(--btn-color);
}
.btn:hover, .btn:focus {
    color:var(--btn-color) ;
    background-color: var(--btn-background);
}

/* Футер */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* .logo-footer {
    
} */
.footer-logo-second {
    color: #FFFFFF;
}
.footer-list {
    margin-top: 20px;
}
.footer-item {
    margin-bottom: 9px;
}
.footer-street {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;    
}
.footer-mail, .footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-list {
    font-style: normal;
}
/* .footer-street, .footer-mail, .footer-tel {
    margin-bottom: 9px; */

